#login-container{
    position: relative;
    display: table;
    padding-top: 10%;
    width: auto;
}

#form-container{
    display: table-cell;
    vertical-align: middle;
    width: auto;
    height: auto;
    padding: 10px 100px;
}

#form-img {
    padding-bottom: 20px;
}

#btn-login{
    background-color: #C30028;
    color: #F8F8F7;
}